body {
	margin: 0;
	padding: 0;
	font-family: Source Sans Pro;
	color: #fff;
	background-color: #202020;

}
header {
	background-color: #222222;
	height: 60px;
	box-shadow: 0 0 50px #000;
}
.header__top-block {
	display: flex;
	justify-content: center;
}
.header__items {
	height: 60px;
	cursor: pointer;
	margin:0 1.5%;
	transition: 0.2s;
}
.header__items:hover {
	border-bottom: 4px solid red;
	background-color:#353232;
}
a {
	color: #fff;
	text-decoration: none;
}
#slider {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 700px;
	box-shadow: 0 0 30px #000;
}
#sliderBlock {
		margin: 2% 10%;
}
#slider ul {
	 position: relative;
    list-style: none;
    height: 100%;
    width: 9999%;
    padding: 0;
    margin: 0;
    transition: all 500ms ease;
    left: 0;
}
#slider li {
	margin: 0;
	padding:0;
	position: relative;
    height: 100%;
    width: calc(80vw);
    float: left;
}
#slider  img {
        width: 100%;
        height: 100%;
}
#prev, #next{
    width: 12px;
    line-height: 50px;
    font-size: 2rem;
    background-color: rgba(255,255,255,0.5);
    padding: 40px 20px;
    text-decoration: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 150ms ease;
    cursor: pointer;
    box-shadow:inset 0 0 2px #000;
   }
 #prev:hover, #next:hover {
    background-color: rgba(240,240,240,0.4);
   }
  #prev { 
   	border-radius:0 5px 5px 0; 
    left: 0;
  }
  #next {
    right: 0;
    border-radius: 5px 0 0 5px ; 
  }
.block2__items {
	display: flex;
	justify-content: center;
}
.block2__items iframe {
	width: 50%;
	height: 500px;
	margin: 5px;
	box-shadow: 0 0 20px #000;
}
#block2{
	margin:0 10%;
}
#block2 p {
	font-size: 30px;
	font-family: Arial;
	text-align: center;
}
#button {
	text-align:center;
	width: 300px;
	height: 50px;
	border-radius: 30px;
	border: 1px solid #fff;
	background-color: #202020;
	color: #fff;
	outline: none;
	font-size:18px;
	font-family: Arial;
	cursor: pointer;
	box-shadow: 0 0 5px #fff;
	transition: 0.3s;
}
#button:hover {
	background: #fff;
	color: #000;
}
.wrap1 {
	text-align:center;
	margin: 10px;
}
