body {
	font-size: 16px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	height:5000px;
}
a {
	color: #000;
	text-decoration: none;
}
a:hover {
	color: #000;
}
header {
	width:auto;
	display: flex;
	justify-content: center;
}
li {
	list-style: none;
}
.header_img1{
    width: 120px;
	height: 20px;
	margin-left: 125px;
}
.header_img-main{
	width: 260px;
	height: 70px;
	margin: 60px 20px 5px 0;
}
.header_items {
	margin-top: 50px;
	display: flex;
	padding: 0;
	margin-left: 33%;
	transition: 0.5s;
}
.header_items a {
    color: #444;
	margin-right: 50px;
	font-size: 18.5px;
	font-weight: 800;
	position: relative;
}
.header_items a:after {
	display: block;
	position: absolute;
	left: 0; 
	width: 0;
	height: 2px; 
	background-color: #000; 
	content: "";
	transition: width 0.3s ease-out;
}
.header_items_set {
	transition: 0.6s;
}
.header_items a:hover:after,
a:focus:after {
	width: 100%;
}
@media (max-width:1550px) {
    .header_items {
    	margin-left: 20%;
    }
}
@media (max-width:1300px) {
    .header_items {
    	margin-left: 8%;
    }
    .header_img1{
    width: 100px;
	height: 15px;
	margin-left: 125px;
}
   .header_img-main{
	width: 200px;
	height: 55px;
	margin: 40px 20px 5px 0;
}
    .header_img2 {
    	width:100px;
    }
}
#menu {
   font-size: 50px;
   display: none;
   margin-top: 50px;
}
@media (max-width:1020px) {
   #menu {
   	display: block;
   }
   .header_items {
   	   flex-wrap: wrap;
   	   margin-top: 10px;
   	   display:block;
   }
   .header_items_set {
	opacity: 0;
	transition: 1s;
}
   header {
	justify-content: space-between;
	padding:0 40px;
}
.header_items a {
	line-height: 2;
	font-size: 20px;
}
}
@media (max-width:677px) {
.header_img1{
	margin-left: 10px;
}
header {
   padding: 10px;
	}
	.header_img-main {
		display: block;
		margin:0 0 20px 0;
		width:100px;
		height: 30px;
	}
	#menu {
		margin:0;
	}
}
@media (max-width:350px) {
   header {
   	display: block;
   	width:100%;
   }
   .header_img-main {
		width:200px;
		height: 50px;
	}
}
@media (max-width:185px) {
	.header_img-main {
		width:120px;
		height: 35px;
	}
	.header_items a {
	line-height: 1.5;
	font-size: 16px;
}
}
.row_text h1 {
	font-size: 50px;
	font-weight: 800;
	margin:100px 0 0 0;
    line-height: 0.9em;
}
.row_text {
   margin-left: 7%;
   color: #444;
}
#color_text {
	color: #02A4E0;
}
.row_text p {
	font-size: 28px;
}
@media (max-width:1000px) {
.row_text {
   margin-left: 10px;
   color: #444;
}
.row_text h1{
  margin-top:10px;
}
}
@media (max-width:350px) {
.row_text h1{
  font-size: 30px;
  line-height: 1.2;
}
.row_text p {
  font-size: 20px;
	}
}
@media (max-width:220px) {
	.row_text h1{
  font-size: 20px;
}
}
.ban {
	 -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    pointer-events: none;
}
.main_sect_central-text {
	font-size:25px;
	color: #8F8F8F;
	margin-top:100px;
	text-align: center;
}
.main_block {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
}
.main-element ul li{
	margin-bottom: 40px;
	font-size: 18px;
	margin-right: 100px;
}
.main-element a {
	color: #444;
	transition: 0.3s;
}
.main-element a:hover {
	color: #38A3F6;
	transition: 0.1s;
}
.block1{ 
   width: 660px; 
   height:570px; 
   overflow: hidden; 
   background-image: url(../img/card1.png);
   background-position: 85% 15%;
   margin-right: 30px;
   display:flex;
   justify-content: center;
   align-items: flex-end;

 /* pointer-events: none;
  transform: translateZ(0);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  position: relative;*/
} 
/*  .block1:after{
    content:" ";
    position: absolute;
    width: 100%;
    height: 10px;
    border-radius: 50%;
    left:0;
    bottom:-50px;
    box-shadow: 0 30px 20px rgba(0,0,0,.3);
  }*/
.block2 {
   width: 365px; 
   height:570px; 
   overflow: hidden; 
   background-image: url(../img/card2.png);
   background-position: 50% 50%;
   background-repeat: no-repeat;
   display:flex;
   justify-content: center;
   align-items: flex-end;
}
.block3 {
   width: 365px; 
   height:570px; 
   overflow: hidden; 
   background-image: url(../img/card3.png);
   background-position: 90% 10%;
   background-repeat: no-repeat;
   display:flex;
   justify-content: center;
   align-items: flex-end;
}
.block1 div {
	width:100%;
	font-size: 18px;
}
.block1 div h1,p {
	padding: 0 45px;
}
.block1 div p {
	color: #C0C0C0;
}
.block1 div hr {
	border:1px solid #fff;
}
.block2 div {
	width:100%;
	font-size: 18px;
}
.block2 div h1,p {
	padding: 0 45px;
}
.block2 div p {
	color: #C0C0C0;
}
.block2 div hr {
	border:1px solid #fff;
}
.block3 div {
	width:100%;
	font-size: 18px;
}
.block3 div h1,p {
	padding: 0 45px;
	color: #444;
}
.block3 div p {
	color: #C0C0C0;
}
.block3 div hr {
	border:1px solid #fff;
}
@media (max-width:1630px) {
   .block1{ 
   width: 90%; 
}
   .block2 {
   	width:90%;
   }
   .block3 {
   	width:80%;
   }
}
@media (max-width:860px) {
  .main-element ul li{
   margin:40px 22px 0 20px;
   }

}
@media (max-width:750px) {
   .main_block {
	 display: block;
	 width: 100%;
   }
   .block1, .block2, .block3 {
   	margin: 0;
   	width: 100%;
   }
   .main-element ul li{
    margin:10px;
   }
   .main-element h1, p {
	padding:0;
	text-align: center;
}

}